.shadow {
  box-shadow: 0px 0px 1px 1px black inset;
}

#company-logo {
    background-image: url("/static/company-logo.png");
    min-height : 75px;
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-position: center; 
    box-sizing: border-box;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.header-div {
  height: 25px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.inline-block {
  display: inline-block;
}

#header-user-info{
  text-align: center;
}

#header-user-name{
  float: right;
}

#left-menu{
  box-sizing: border-box;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.menu-item {
  height: 30px;
  padding-left: 20px;
  padding-top: 5px;
}

.strong {
  font-weight: bold;
}